<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
</head>
<body>
    <h1>hello world</h1>
    <h1>ejs templates language</h1>
    <h1>You searched for : <%= data.userQuery %> </h1>
    <% if(data.loggedIn){ %>
        <h2>you are log in as : <%= data.username %> </h2>
    <% } %>
    <ul>
        <li><%= data.searchResults[0] %></li>
    </ul>
    <ul>
        <% data.searchResults.forEach(result=>{ %>
            <li><%= result %></li>
        <% }) %>
    </ul>
</body>
</html>